{% extends "shop/base.html" %}
{% block content %}
	<div class = "container">
		<div class = "row">
			<div class = "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mt-5 mb-5">
				<h1 class="display-4">Контакты</h1>
				<p>Если вам необходима более подробная информация - от сведений о продукции и демонстрации до условий поставки - пожалуйста, свяжитесь с нами по указанным ниже контактным данным. Мы будем рады слышать вас.</p>
				<dl class="row">
					  <dt class="col-sm-3">Головной офис, отдел продаж:</dt>
					  <dd class="col-sm-9">Бизнес-центр "Новая Европа": Республика Беларусь, г. Минск, ул. Сурганова, 57б, офис 132, 4 этаж (3 этаж на панарамном лифте).
					 Тел. (017) 350-00-04, 350-15-55, 350-17-77, 350-18-88
					Velcom: (029) 130-08-84
					Электронная почта: risola@risola.by </dd>

					  <dt class="col-sm-3">Сервисный центр:</dt>
					  <dd class="col-sm-9">Бизнес-Центр "Новая Европа": Республика Беларусь, г.Минск, ул. Сурганова, 57б, комната 138, 5 этаж (4 этаж на панарамном лифте).
					Тел. (017) 202-01-91
					Электронная почта: service@risola.by</dd>

					  <dt class="col-sm-3">Адрес для почтовой корреспонденции:</dt>
					  <dd class="col-sm-9">220100 Республика Беларусь, г. Минск, ул. Сурганова, 57б, комн. 124.    </dd>

					  <dt class="col-sm-3 text-truncate">Банковские реквизиты:</dt>
					  <dd class="col-sm-9">Расчетный счет BY95BPSB30121029110139330000
					в Региональной дирекции №700 ОАО «БПС-Сбербанк», BIC: BPSBBY2X
					адрес банка: г. Минск, пр.Машерова, 80, код 369
					УНП: 100706534, ОКПО: 28623339 </dd>
				</dl>
			</div>
		</div>
		<div class = "mt-5 mb-5">
			{% include "shop/map.html" %}
		</div>
	</div>
{% endblock content %}
