<div id="map" >

<script type="text/javascript">

        // Определяем переменную map
        var map;
        var marker
        // Функция initMap которая отрисует карту на странице
        function initMap() {
                    
            // В переменной map создаем объект карты GoogleMaps и вешаем эту переменную на <div id="map"></div>
            map = new google.maps.Map(document.getElementById('map'), 
            {
                // При создании объекта карты необходимо указать его свойства
                // center - определяем точку на которой карта будет центрироваться
                center: {lat: 53.928698, lng: 27.582959},
                // zoom - определяет масштаб. 0 - видно всю платнеу. 18 - видно дома и улицы города.
                zoom: 14
                
            });
            
            marker = new google.maps.Marker({

                    // Определяем позицию маркера
                    position: {lat: 53.928698, lng: 27.582959},

                    // Указываем на какой карте он должен появится. (На странице ведь может быть больше одной карты)
                    map: map,

                    // Пишем название маркера - появится если навести на него курсор и немного подождать
                    title: 'РИЗОЛА'
                    
                });
        }
</script>

    <!-- 3. Подключаем библиотеку Google Maps Api, чтобы создать карту -->
    <!-- Атрибуты async и defer - позволяют загружать этот скрипт асинхронно, вместе с загрузкой всей страницы  -->
    <!-- В подключении библиотеки Google Maps Api в конце указан параметр callback, после  подключения и загрузки этого Api сработает функция initMap для отрисовки карты,  которую мы описали выше -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnlLcV4U70D7cZnj1RNc8jcGg6ytazJmQ&callback=initMap"></script>
</div>