{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ object.image.url }}" alt="..." /></div>
                    {% if printer.price != 0 %}
                        <div class="col-md-6">
                            <div class="mb-1 fst-italic" style="font-size: 24px">Konica Minolta</div>
                            <h1 class="display-5 fw-bolder">{{ printer.title }}</h1>
                            <div class="fs-5 mb-5">
                                <span>{{ printer.price }} евро</span>
                            </div>

                            <p class="lead">Запросить коммерческое предложение можно по телефону, e-mail или форме обратной связи в разделе "Контакты" в шапке сайте</p>
                            <hr>
                            <p class="lead">Краткое описание.</p>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                            <p>
                                <img src="{% static 'img/load.png' %}">
                                <a href="{{ printer.specification.url }}" style="font-size: 20px">Скачать спецификацию</a>
                            </p>
                            {% for t in printer.toner_printer.all %}
                                <div class="d-flex">
                                    <a href="{% url 'add_to_cart' slug=t.slug %}">
                                        <button style="width:120px" class="btn btn-outline-dark flex-shrink-1" type="button">
                                            <i class="bi-cart-fill me-1"></i>
                                            {{ t.title }}
                                        </button>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-md-6">
                            <h1 class="display-5 fw-bolder">{{ printer.title }}</h1>
                            <div class="fs-5 mb-5">
                                <p>Снят с продажи</p>
                            </div>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                            <div class="d-flex">
                                <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                    Скачать спецификацию
                                </button>
                                <br>
                            </div>
                            <br>
                            {% for t in printer.toner_printer.all %}
                                <div class="d-flex">
                                    <a href="{% url 'add_to_cart' slug=t.slug %}">
                                        <button style="width:120px" class="btn btn-outline-dark flex-shrink-1" type="button">
                                            <i class="bi-cart-fill me-1"></i>
                                            {{ t.title }}
                                        </button>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
{% endblock %}